@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: #ddeeff62; /* Color of the gutter */
  border-radius: 10px; /* Make it rounded */
}

::-webkit-scrollbar-thumb {
  background-color: #1e90ff; /* Color of the scrollbar */
  border-radius: 10px; /* Make it rounded */
  border: 2px solid #bcddff6b; /* Add a border for better visibility */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0e59a3; /* Color of the scrollbar on hover */
}

::-webkit-scrollbar-button {
  display: none; /* Remove the arrows */
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin; /* Make scrollbar slim */
  scrollbar-color: #1e90ff #88c3ff38; /* scrollbar color #1E90FF and gutter color #88c4ff */
}

/* Scrollbar styles for IE and Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* General styles to apply the custom scrollbars to all scrollable elements */
body,
html {
  overflow: auto;
}
